* {
    border: 0px;
    padding: 0px;
}

body {
    font-family:'Heebo', sans-serif, serif;
    p {
        text-indent: 1.5em;
        margin-bottom: 0; }
}

header{
    position:fixed;
    width: 100%;
}

#Logo{
    padding-left: 25px;
    font-family: 'Oswald', 'Merriweather', serif, sans-serif;
    font-size: larger;
}

#Opcoes{
    font-family:'Heebo', sans-serif, serif;
}

.sobre_mim {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding: 8px;
    border-radius: 25px;
    box-shadow: 4px 2px 15px #4242429a;
    background-color: rgb(245, 250, 255);
}

.texto_sobre_mim p{
    padding: 0 8px 8px 8px;
}

.texto_sobre_mim h2{
    font-family:'Oswald', 'Merriweather', serif, sans-serif;
    font-size: 32px;
    padding: 8px;
}

.texto_sobre_mim h3 {
    padding: 8px;
}

.perfil img{
    padding: 10px;
    padding-top: 25px;
    max-width: 350px;
    min-width: 220px;
    margin-left: 10px;
    border-radius: 50%;
}

#Cursos h1{
    text-align: center;
    font-size: 30px;
}

#Inicio .container{
    position:inherit;
}

.Cursos{
    display: flex;
    justify-content: space-between;
}

.curso{
    padding: 16px;
    margin-top: 16px;
    margin-left: 8px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 4px 2px 15px #4242429a;
    background-color: rgb(245, 250, 255);
}

.curso p{
    width: 100%;
    min-width:150px;
}

.curso h3{
    padding: 8px 0;
    font-size: large;
}

.curso img{
    display: block;
    width: 215px;
    margin: auto;
}

footer {
    background-color: #5db6ff;
    color: aliceblue;
    padding: 18px 0;
}

footer a {
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 980px) {
    #Perfil {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .sobre_mim, img, p {
        display: block;
    }

    .Cursos{
        display: block;
    }

    .Cursos .curso img{
        padding: 20px;
        height: auto;
        width: auto;
        max-height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Cursos .curso p{
        padding: 10px;
        width: 100%;
        min-width: 220px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
    }
    
    .Cursos .curso h3{
        padding: 0px;
        text-align: center;
    }
}

